body {
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}
#header-nav {
    background-color: #f6b319;
}

.upper-header {
    margin: 0;
    padding: 0;
}
.upper-header div ul {
    margin: 0;
}
.upper-header div ul li a {
    padding: 0 7px 0 0;
}

.container {
    padding: 0;
}
.brand-name {
    margin-left: 30px;
}

#restaurant-name {
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.nav-item {
    padding: 0 5px 0 5px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-buttons a {
    color: #61122f !important;
}

.bi {
    font-size: 25px;
}

.phone-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.phone-number span {
    font-size: 16px;
    align-items: flex-end;
    justify-content: flex-end;
    color: #61122f;
}
@media screen and (min-width:576px) and (max-width:767px) {
    #restaurant-name {
        font-size: 24px;
    }
    .restaurant-certified {
        font-size: 16px;
    }
    .phone-number {
        font-size: 24px;
    }
    .brand-name {
        margin: 0;
    }
}

@media screen and (min-width:410px) and (max-width: 575px) {
    #restaurant-name {
        font-size: 23px;
    }
    .restaurant-certified {
        font-size: 15px;
    }
    .phone-number {
        font-size: 24px !important;
    }
    .media-content-contain {
        justify-content: space-evenly !important;
    }
}

@media screen and (max-width: 409px) {
    #restaurant-name {
        font-size: 18px;
    }
    .restaurant-certified {
        font-size: 12px;
    }
    .brand-name {
        margin: 0 !important;
    }
    .media-content-contain {
        justify-content: space-evenly !important;
    }
    .phone-number {
        font-size: 23px !important;
    }
}

@media screen and (max-width:315px) {
    #restaurant-name {
        font-size: 16px;
    }
    .phone-number {
        font-size: 20px !important;
    }
}
