body {
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}
#header-nav {
    background-color: #f6b319;
}

.upper-header {
    margin: 0;
    padding: 0;
}
.upper-header div ul {
    margin: 0;
}
.upper-header div ul li a {
    padding: 0 7px 0 7px;
}
.phone-icon {
    color: #61122f ;
}

.container, .jumbotron {
    padding: 0;
}
.brand-name {
    margin-left: 30px;
}

#restaurant-name {
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.nav-item {
    padding: 0 5px 0 5px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-buttons a {
    color: #61122f !important;
}

.menu-button {
    font-weight: 520;
    color: black;
}
.bi {
    font-size: 25px;
}

.phone-number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: unset;
    font-size: 30px;
}
.phone-number span {
    font-size: 16px;
    align-items: flex-end;
    justify-content: flex-end;
    color: #61122f;
}

.navbar-toggler {
    border: 1px solid;
    border-color: black !important;
}

.jumbotron {
    margin-top: 20px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
}

.responsive, .box-photo {
    width: 100%;
    height: auto;
}

.card {
    border: 0;
    border-radius: 5%;
    overflow: hidden;
    border: 1px solid #3F0C1F;
    background: transparent;
}

.card:hover {
    box-shadow: 0 1px 3px 1px #cccccc;
}

.subtitle a h3 {
    color: white;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


@media screen and (min-width:576px) and (max-width:767px) {
    #restaurant-name {
        font-size: 26px;
    }
    .restaurant-certified {
        font-size: 22px;
    }
    .phone-number {
        font-size: 26px;
    }
    .brand-name {
        margin: 0;
    }
}

@media screen and (max-width: 575px) {
    #restaurant-name {
        font-size: 4.5vw;
    }
    .restaurant-certified {
        font-size: 3.6vw;
    }
    .phone-number {
        font-size: 4.5vw !important;
    }
    .phone-number span {
        font-size: 3.4vw;
    }
    .media-content-contain {
        justify-content: space-evenly !important;
    }
    .jumbotron {
        margin: 0;
    }
    .phone-icon {
        font-size: 4vw;
    }
}