.content {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-gap: 40px;
        grid-template-columns: repeat(4, 200px); 

        @include tablet {
            grid-template-columns: repeat(3, 200px);
        }
        @include after-mobile {
            grid-template-columns: repeat(2, 200px);
        }
        @include mobile {
            grid-template-columns: repeat(1, 200 px);
        }
    .card {
        height: 200px;
        padding: 0;
        
        img {
            width: 200px;
            height: 200px;
        }
    }
}