.content {
    margin:0 15px 0 15px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 1fr);

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mobile {
        grid-template-columns: repeat(2, 1fr);
    }

    div {
        border: 3px solid black;
        grid-column: span 200px;
        grid-row: span 200px;
    }
}

