.content {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-gap: 40px;
        grid-template-columns: repeat(4, 206px); 

        @include tablet {
            grid-template-columns: repeat(3, 206px);
        }
        @include after-mobile {
            grid-template-columns: repeat(2, 206px);
        }
        @include mobile {
            grid-template-columns: repeat(1, 206px);
        }

    div {
        border: 3px solid black;
        padding: 0;
        
        img {
            width: 200px;
            height: 200px;
        }
    }
}

