.title-text {
    @include mobile {
    padding-bottom: 0 !important;
    margin-bottom: 0;
    }
}
.row {
    margin: 0 !important;
}
.meal-list {
    p {
        margin: 0;
    }
    p, h3 {
        display: grid;
        justify-content: center;
        color:white;
    }
    .content-card {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 30px;

        div {
            display: grid;
            justify-content: center;
        }

        img {
            border: 1px solid black;

            @include mobile {
                margin-bottom: 35px;
            }
        }

        @include mobile {
            padding:auto;
            grid-auto-flow: row;
            justify-content: center;
            align-items: center;
        }
    }
    @include mobile {
        margin: 0;
    }

    
}