.meal-list {
    p, h3 {
        color: white;
        align-items: center;
        justify-content: center;
    }
    .content-card {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 25px;
        justify-content: center;
        align-items: center;

        @include mobile {
            padding-right: 0;
        }
    }
    @include mobile {
        margin: 0;
    }
    
}